{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
	<title>Social Login</title>
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->

	<link rel="stylesheet" type="text/css" href="{% static 'foundation/css/foundation.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/webstyles.css' %}" />
	
</head>
<body>
	<header class="quiniela-header">
		<section class="row">
			<nav class="menu-quiniela">
				<!--<ul>
					<li><a href="/dashboard/">Inicio</a></li>
					<li><a href="/curiosidades/">Curiosidades</a>
						<ul class="submenu">
				            <li>
				                <a href="#">Mundiales pasados</a>
				            </li>
				            <li>
				                <a href="#">Jugadores Destacados</a>
				            </li>
				            <li>
				                <a href="#">Equipos Historicos</a>
				            </li>
				            <li>
				                <a href="#">Balon</a>
				            </li>
				            <li>
				                <a href="#">Palmares</a>
				            </li>
        				</ul>
					</li>
					<li><a href="/mundial/">Brasil 2014</a>
						<ul class="submenu" id="mundial">
				            <li>
				                <a href="/estadios">Sedes/Estadios</a>
				            </li>
				            <li>
				                <a href="/equipos">Equipos</a>
				            </li>
        				</ul>
					</li>
					<li><a href="/posiciones/">Posiciones</a></li>
					<li><a href="/quiniela/">Quiniela</a></li>
				</ul>-->
				<ul>
			      <li class="selected"><a href="/dashboard/"><span>Inicio</span></a></li>
			      <li><a href="#"><span>Curiosidades</span></a>
						<ul class="submenu1">
				            <li>
				                <a href="#"><span>Mundiales pasados</span></a>
				            </li>
				            <li>
				                <a href="#"><span>Jugadores Destacados</span></a>
				            </li>
				            <li>
				                <a href="#"><span>Equipos Historicos</span></a>
				            </li>
				            <li>
				                <a href="#"><span>Balon</span></a>
				            </li>
				            <li>
				                <a href="#"><span>Palmares</span></a>
				            </li>
        				</ul>
			      </li>
			      <li><a href="#"><span>Brasil 2014</span></a>
						<ul class="submenu1">
				            <li>
				                <a href="/estadios"><span>Sedes/Estadios</span></a>
				            </li>
				            <li>
				                <a href="/equipos"><span>Equipos</span></a>
				            </li>
        				</ul>
			      </li>
			      <li><a href="#"><span>Posiciones</span></a>
						<ul class="submenu1">
				            <li>
				                <a href="/fase-de-grupos"><span>Fase de Grupos</span></a>
				            </li>
				            <li>
				                <a href="/eliminatorias"><span>Eliminatorias</span></a>
				            </li>
        				</ul>
			      </li>
			      <li><a href="#"><span>Quiniela</span></a>
					<ul class="submenu1">
				            <li>
				                <a href="/quiniela/fase-de-grupos"><span>Fase de Grupos</span></a>
				            </li>
				            <li>
				                <a href="/quiniela/octavos"><span>Octavos</span></a>
				            </li>
				            <li>
				                <a href="/quiniela/cuartos"><span>Cuartos</span></a>
				            </li>
				            <li>
				                <a href="/quiniela/semis"><span>Semis</span></a>
				            </li>
				            <li>
				                <a href="/quiniela/final"><span>Final</span></a>
				            </li>
        			</ul>
			      </li>
    			</ul>
			</nav>
		</section>
		
	</header>

	<section class="full-section">
		<section class="row" id="team-content">
			
		</section>

		<section class="row" id="stadium-content">
				
		</section>

		<section class="row" id="quiniela-content">
				
		</section>

		<section class="row" id="octavos-content">
				
		</section>

		<section class="row" id="cuartos-content">
				
		</section>

		<section class="row" id="semis-content">
				
		</section>

		<section class="row" id="final-content">
				
		</section>

		<section class="row" id="posiciones-content">
				
		</section>

		<section class="row" id="eliminatoria-content">
				
		</section>	
	</section>
	
	
	{% block footer %}

	{% endblock footer %}

	{% block templates %}

	{% endblock templates %}


	<script src="{% static 'js/lib/underscore.js' %}"></script>
	<script src="{% static 'js/lib/jquery-1.11.0.js' %}"></script>
	<script src="{% static 'js/lib/backbone.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/lib/backbone.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/routers/router.js' %}"></script>
    <script src="{% static 'js/views/dashboard.js' %}"></script>
    <script src="{% static 'js/models/team.js' %}"></script>
    <script src="{% static 'js/models/stadium.js' %}"></script>
    <script src="{% static 'js/models/quiniela_nueva.js' %}"></script>
    <script src="{% static 'js/models/quiniela_list.js' %}"></script>
    <script src="{% static 'js/models/quiniela_update.js' %}"></script>
    <script src="{% static 'js/models/positions_qnl.js' %}"></script>
    <script src="{% static 'js/models/positions.js' %}"></script>
    <script src="{% static 'js/models/quiniela_valida.js' %}"></script>
    <script src="{% static 'js/models/quiniela_exist.js' %}"></script>
    <script src="{% static 'js/models/quiniela_progress.js' %}"></script>
    <script src="{% static 'js/models/quiniela_fase.js' %}"></script>
    <script src="{% static 'js/models/quiniela_eliminatoria.js' %}"></script>
    <script src="{% static 'js/models/quiniela_eliminatoriaoficial.js' %}"></script>
    <script src="{% static 'js/collections/teams.js' %}"></script>
    <script src="{% static 'js/views/teams.js' %}"></script>
    <script src="{% static 'js/views/stadiums.js' %}"></script>
    <script src="{% static 'js/views/quiniela.js' %}"></script>
    <script src="{% static 'js/views/octavos.js' %}"></script>
    <script src="{% static 'js/views/cuartos.js' %}"></script>
    <script src="{% static 'js/views/semis.js' %}"></script>
    <script src="{% static 'js/views/final.js' %}"></script>
    <script src="{% static 'js/views/oficiales.js' %}"></script>
    <script src="{% static 'js/views/eliminatorias.js' %}"></script>

    <script>
      $(document).foundation();
    </script>

</body>
</html>