{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
	<title>Social Login</title>
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="{% static 'foundation/css/foundation.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/webstyles.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bgdashboard.css' %}" />
	
</head>
<body>
	<header class="quiniela-header">
		{% block menu %}
	
		{% endblock menu %}	
	</header>
	<section class="row" id="dashboard-content">
	
	</section>
	
	{% block template %}
	
	{% endblock template %}
	
	<script src="{% static 'js/lib/underscore.js' %}"></script>
	<script src="{% static 'js/lib/jquery-1.11.0.js' %}"></script>
	<script src="{% static 'js/lib/backbone.js' %}"></script>
	<script src="{% static 'js/lib/freewall.js' %}"></script>
	<script src="{% static 'js/lib/jquery.zrssfeed.min.js' %}"></script>
	<script src="{% static 'js/lib/jquery.vticker.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/models/quiniela_list.js' %}"></script>
    <script src="{% static 'js/models/positions_qnl.js' %}"></script>
    <script src="{% static 'js/models/quiniela_invitation.js' %}"></script>
    <script src="{% static 'js/models/positions.js' %}"></script>
    <script src="{% static 'js/models/ranking.js' %}"></script>
    <script src="{% static 'js/routers/router.js' %}"></script>
    <script src="{% static 'js/views/dashboard.js' %}"></script>
    <script>
       
      $(document).foundation();


    </script>

</body>
</html>