{% extends "baseapp.html" %}
{% load static %}
{% block content %}
	
{% endblock content %}


{% block templates %}
	<script id="team-template" type="text/template">
		<section class="large-12 columns" id="team-container">
				<div class="large-3 columns">
					<h3 class="titulo-team">
						Fase de Grupos
					</h3>
					<h4 class="subtitulo-team">
						Grupo
					</h4>
				</div>
				<div class="large-9 columns" id="container-group">
					 <div id="content-group">
					 	<ul id="group-list">
							<li>A</li>
							<li>B</li>
							<li>C</li>
							<li>D</li>
							<li>E</li>
							<li>F</li>
							<li>G</li>
							<li>H</li>	
					 </ul>
					 </div>
					<div class="large-12 columns" id="team-list-container">
						 <div id="content-team">
						 	<ul id="team-list">

						 	</ul>
						 </div>				 
					</div>
				</div>
				
		</section>
			<section class="large-12 columns" id="information-team">
				<div class="wraper-trapecio">
					<div id="trapezoide1"></div>
					<div id="trapezoide2">
						<p>
							Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's..
						</p>		
					</div>
					<div id="copas-fondo">
						
					</div>
					<div id="copas-fondo-back">
						
					</div>
					<div id="copas-content">
						
					</div>
					<div id="copas-content-back">
						<h4>Titulos</h4>
						<ul class="copas_ganadas">
								<li><img src='../static/img/copa_inactiva.png' alt='' width='23' height='56'></li>
								<li><img src='../static/img/copa_inactiva.png' alt='' width='23' height='56'></li>
								<li><img src='../static/img/copa_inactiva.png' alt='' width='23' height='56'></li>
								<li><img src='../static/img/copa_inactiva.png' alt='' width='23' height='56'></li>
								<li><img src='../static/img/copa_inactiva.png' alt='' width='23' height='56'></li>				
						</ul>
					</div>
					<div id="mundiales-back">
						
					</div>
					<div id="mundiales-content">
						<h2>17</h2>
						<h6>Participacion Mundiales</h6>
					</div>
				</div>
		
	</section>
					
	</script>
	
{% endblock templates %}