{% extends "baseapp.html" %}
{% load static %}
{% block content %}
	
{% endblock content %}

{% block templates %}
	<script id="stadium-template" type="text/template">
		<section class="large-12 columns" id="stadium-container">
				<div class="large-3 columns">
					<h3 class="titulo-stadium">
						Sedes
					</h3>
				</div>
				<div class="large-9 columns" id="container-sedes">
					 <div id="content-sedes">
					 	<ul id="sedes-list">
							<li data-stadium="Manaos">Manaos</li>
							<li data-stadium="Fortaleza">Fortaleza</li>
							<li data-stadium="Natal">Natal</li>
							<li data-stadium="Recife">Recife</li>
							<li data-stadium="Salvador">Salvador</li>
							<li data-stadium="Cuiaba">Cuiabá</li>
							<li data-stadium="Brasilia">Brasilia</li>
							<li data-stadium="Rio de Janeiro">Rio de Janeiro</li>
							<li data-stadium="Belo Horizonte">Belo Horizonte</li>
							<li data-stadium="Sao Paulo">Sao Paulo</li>
							<li data-stadium="Curitiba">Curitiba</li>
							<li data-stadium="Porto Alegre">Porto Alegre</li>	
					 	</ul>
					 </div>					
				</div>

				<div class="large-12 columns" id="stadium-info-container">
						 <section class="large-6 columns" id="description-stadium">
						 	<div class="content-description">
						 		<p>Manaos es una gran ciudad que se ubica en el Estado de Amazonas y cuenta con más de dos millones de habitantes. Año a año y mes a mes, recibe una gran cantidad de turistas que se acercan a este sitio, principalmente, por su gran belleza e importancia natural.

Claramente, con el Río Amazonas y la Selva Amazónica, no podría ser de otra manera. El primero, el más largo y caudaloso del mundo; la segunda, el mayor pulmón mundial. Entonces, con su impactante presencia natural, se presenta ya como un gran atractivo turístico. Pero Manaos es mucho más que eso.
Con su movimiento constante, el hermoso puerto, un gran atractivo cultual (con centros artísticos, numerosos museos y el histórico Teatro Amazonas), las construcciones antiguas y su interesante vida nocturna, esta ciudad muestra una amplia gama de opciones.

De playas de río y con el increíble Encuentro de Aguas (entre el Río Negro y el Solimões) esta localidad del norte de Brasil no deja de sorprender al visitante. Finalmente, se puede decir que la increíble e impresionante naturaleza de Manaos se une con una gran cantidad de ofertas “humanas” para convertirse en uno de los puntos turísticos más atractivos del país.</p>
						 	</div>
						 	<div id="trapeciobg1back-stadium"></div>
						 	<div id="trapeciobg1-stadium"></div>
						 	<div id="trapeciobg2-stadium"></div>
						 	<div id="trapeciobg3-stadium"></div>
						 	<div id="trapeciobg4-stadium"></div>

						 </section>
						 <section class="large-3 columns" id="image-stadium">						 	
						 	
						 	<img src="" alt="">
						 	
						 	
						 </section>	
						 <section class="large-3 columns" id="partidos-stadium">
						 	<h2>partidos</h2>
						 	<div id="trapeciopartit1-stadium"></div>
						 	<div id="trapeciopartit2-stadium"></div>
						 	<div id="line1-stadium"></div>
						 	<div id="line2-stadium"></div>
						 	<div id="line3-stadium"></div>
						 	<div id="line4-stadium"></div>
						 	<div id="line5-stadium"></div>
						 	<div id="line6-stadium"></div>
						 	<div class="content-partidos">
						 		<ul class="list-partidos">
						 			

						 		</ul>
						 	</div>
						 </section>			 
				</div>

				
		</section>	
	
	</script>
{% endblock templates %}
