{% extends "baseapp.html" %}
{% load static %}
{% block content %}
	
{% endblock content %}

{% block templates %}

	<script id="semis-template" type="text/template">
			
			<section class="large-12 columns" id="team-container">
				<div class="large-3 columns">
					<h3 class="titulo-team">
						Semifinal
					</h3>
				</div>
				
			</section>

			<section class="large-12 columns" id="quiniela-body">
				<h2>PARTIDOS</h2>
				
				<div class="alert alert-success success-middle">
			      
			    </div>
			    <div class="alert alert-warning warning-middle">
			      
			    </div>
			    <div class="alert alert-error error-middle">
			      
			    </div>
				<section class="large-7 columns partidos-quiniela">
					<ul class="list-matches">
						<li>
							<div class="qnl_stadium">
								<span class='title-estadio'>Estadio</span>
								<span class='name-estadio'>Rio de Janeiro</span>
							</div>
							<div class="qnl_date">
								<span class='title-fecha'>Fecha</span>
								<span class='fecha'>05/14</span>
							</div>
								<img src="{% static  'img/flags/brasil/brasil.png'%}" alt=''>
								<span class='team-a'>BRA</span>
								<input type="text" name="team" class="team_input" value="0"/>
								<img src="{% static  'img/flags/croacia/croacia.png' %}" alt=''>
								<span class='team-b'>CRO</span>
								<input type="text" name="team" class="team_input"  value="0"/>							
						</li>						
						
					</ul>
					<button class="button btn-save">Guardar Progreso</button>
					<button class="button btn-eliminatoria">Ver Eliminatorias</button>
					<img class="loader-quiniela" src="{% static  'img/ajax-loader.gif'%}" />
				</section>
			</section>
			
	
	</script>
{% endblock templates %}
