{% extends "baseapp.html" %}
{% load static %}
{% block content %}
	
{% endblock content %}

{% block templates %}

	<script id="semis-template" type="text/template">
			
			<section class="large-12 columns" id="team-container">
				<div class="alert alert-success" style="display: none"></div>
		    	<div class="alert alert-warning" style="display: none"></div>
		    	<div class="alert alert-error" style="display: none"></div>
				<div class="large-3 columns">
					<h3 class="titulo-team">
						Semifinal
					</h3>
									
			</section>

			<section class="large-12 columns" id="eliminatorias-body">
				<h2>PARTIDOS</h2>
				
				<section class="large-12 columns partidos-quiniela">
					<ul class="list-matches list-octavos">				
						
					</ul>
					<button class="button btn-save">Guardar Semifinal</button>
					<a href="/quiniela/final" class="button btn-eliminatoria">Ver Final</a>
					<img style="display:none" class="loader-semis" src="{% static  'img/ajax-loader.gif'%}" />
				</section>
			</section>
			
	
	</script>
{% endblock templates %}
