@font-face {
	font-family: 'quiniela';
	src:url('../fonts/quiniela.eot?kvtogd');
	src:url('../fonts/quiniela.eot?#iefixkvtogd') format('embedded-opentype'),
		url('../fonts/quiniela.woff?kvtogd') format('woff'),
		url('../fonts/quiniela.ttf?kvtogd') format('truetype'),
		url('../fonts/quiniela.svg?kvtogd#quiniela') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'quiniela';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
	color : white;
	font-size: 1.4em; 
}
.icon-facebook:before {
	content: "\e605";
	color : white;
	font-size: 1.4em;
}