@import 'normalize.styl'
@import 'webfonts.styl'

azul_claro = #00a7ff
gris_claro = #878787
verde_claro = #cfff09
verde_medio = #89f545

body
	font-size 16px

header
	background azul_claro
h1
	margin 0
	padding 0
figure
	margin 0
	padding 0

#clock
	color white
	margin 0 1em 0 2em

#landing-header
	overflow hidden
	position fixed
	width 100%
	z-index 9999999


#team-container
	margin-top 2em

#team-container h3.titulo-team
	color white
	margin-bottom 0

#team-container h4.subtitulo-team
	color white
	margin-top -0.5em
	text-align right
	margin-right 0.8em

#container-group ul
	list-style none
	margin -0.2em 0 0 0 

#container-group ul li
	display inline-block
	padding 0 0 0 1em
	font-size 3em
	color gris_claro
	cursor pointer
	-webkit-transition 0.5s all ease

#container-group ul li:hover
	color verde_claro

#trapezoide1
	border-bottom 200px solid azul_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	right -5.8em
	top 0em
	-webkit-transform rotate(180deg)


#trapezoide2
	border-bottom 200px solid azul_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute

#information-team
	margin-top 30em

#copas-fondo
	border-bottom 100px solid verde_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 350px
	position absolute
	right -9.8em
	top 11em
	-webkit-transform rotate(180deg)

#copas-fondo-back
	border-bottom 100px solid verde_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 350px
	position absolute
	right -8.8em
	top 11em

#copas-content
	border-bottom 100px solid verde_medio
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 350px
	position absolute
	right -9.2em
	top 11.5em
	-webkit-transform rotate(180deg)

#copas-content-back
	border-bottom 100px solid verde_medio
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 350px
	position absolute
	right -8.2em
	top 11.5em

#copas-content-back ul.copas_ganadas
	list-style none

#copas-content-back ul.copas_ganadas li
	display inline-block
	padding-left 1em

#copas-content-back ul.copas_ganadas li:first-child
	padding-left 0 

#mundiales-back
	border-bottom 100px solid verde_claro
	border-left 30px solid transparent
	border-right 30px solid transparent
	height 0
	width 120px
	position absolute
	right -11.2em
	top 7.5em
	-webkit-transform rotate(180deg)
	z-index 999999

#mundiales-content
	border-bottom 100px solid verde_claro
	border-left 30px solid transparent
	border-right 30px solid transparent
	height 0
	width 120px
	position absolute
	right -10.2em
	top 7.5em
	z-index 999999

#team-list-container #team-list
	list-style none

#team-list-container #team-list li
	display inline-block
	font-size 1.8em
	cursor pointer
	-webkit-transition 0.5s all ease

#team-list-container #team-list li:hover
	color verde_claro

#copa1
	position absolute 
	left 0 

#copa2
	position absolute 
	left 0 
	margin-left 2.8em

#copa3
	position absolute 
	left 0 
	margin-left 5.5em

#copa4
	position absolute 
	left 0 
	margin-left 8.2em

#copa5
	position absolute 
	left 0 
	margin-left 10.8em

#stadium-container h3.titulo-stadium
	color white
	margin-bottom 0
	font-size 5em
	margin-top 0.5em


#container-sedes ul
	list-style none
	margin 3.8em 0 0 0 

#container-sedes ul li
	display inline-block
	padding 0 0 0 0.8em
	font-weight bold
	font-size 1.3em
	color white
	cursor pointer
	-webkit-transition 0.5s all ease

#container-sedes ul li:hover
	color verde_claro

#description-stadium
	height 200px
	margin-top 8em
	position relative

#description-stadium p
	position absolute
	top 0
	z-index 999999

.content-description
	position absolute
	z-index 9999
	width 90%
	height 325px
	margin-top -3.5em
	overflow-y scroll
    overflow-x hidden

#image-stadium
	background green

#image-stadium figure img
	

#partidos-stadium
	background orange


#trapeciobg1back-stadium
	border-bottom 200px solid azul_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 300px
	position absolute
	left -2em
	top 4em
	-webkit-transform rotate(90deg)

#trapeciobg1-stadium
	border-bottom 200px solid azul_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	left -6em
	top 0
	-webkit-transform rotate(90deg)

#trapeciobg2-stadium
	border-bottom 200px solid azul_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	left -4em
	top 1em
	-webkit-transform rotate(-90deg)

#trapeciobg3-stadium
	border-bottom 150px solid azul_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 450px
	position absolute
	left 4.5em
	top 1.5em
	-webkit-transform rotate(90deg)

#trapeciobg4-stadium
	border-bottom 200px solid azul_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	left 9.5em
	top 0
	-webkit-transform rotate(-90deg)


.wraper-trapecio
	position relative
	width 30%
	height 200px

.stadium-full-section
	background url('../img/bghand.png')
	background-size cover

.margen-superior
	position relative
	margin-top 10em

.login-content
	position relative

.logo
	margin-right 5em
	width 50%

.btn-twitter
	position absolute
	width 50%
	top 26em
	left 4.5em

.btn-facebook
	position absolute
	width 50%
	top 28em
	left 4.5em

.btn-menu
	display block
	position absolute
	background verde_claro
	color gris_claro
	padding 0.5em
	text-align center
	width 18%
	right 0
	margin-right 2em
	margin-top -1.2em
	-webkit-transform skewX(-30deg)

.copa-quiniela img
	width 100%
	position absolute
	bottom 5px

.numbers-quiniela
	position absolute
	top 14em
	left 10em
	width 96%

.hand-vacia
	bottom -978px
	position absolute

.hand-llena
	bottom -978px
	position absolute

.jugador-quiniela
	position absolute
	top 40%
	width 40%

.ball-jugador-quiniela
	position absolute
	left 0

.numero1-quiniela
	position absolute
	left 71em
	top 38em

.numero2-quiniela
	position absolute
	left 47em
	top 14em

.portero-quiniela
	position absolute
	top 30%
	width 40%
	z-index 9999

.ball-portero-quiniela
	position absolute
	top 20%
	left 67em

.numero1-portero-quiniela
	position absolute
	left 81em
	top 15em

.numero2-portero-quiniela
	position absolute
	left 75em
	top 24em

#menu-dash ul
	list-style none
	background rgba(0,167,255,0.7)
	position absolute
	//border 1px solid red 
	width 18%
	right 0
	margin-right 2.5em
	margin-top 0.8em

#menu-dash ul li
	padding 0.2em
	border-bottom 1px dotted white
	color white
	text-align center

#menu-dash ul li:last-child
	border-bottom none

#menu-dash ul li a
	color white
	

.grama-content
	position absolute
	bottom 0	

.page1-login
	background url('../img/bg_landing.png')
	background-repeat no-repeat 
	background-size cover
	height 979px
	width 100%

.page2-hand
	background url('../img/bghand.png')
	background-repeat no-repeat 
	background-size cover
	height 979px
	width 100%
	position relative

.page3-numbers
	background url('../img/resplandor.png')
	background-repeat no-repeat 
	background-size cover
	height 979px
	width 100%
	position relative

.page4-portero
	background url('../img/bg_portero.png')
	background-repeat no-repeat 
	background-size cover
	height 979px
	width 100%
	position relative

.page5-portero
	background url('../img/bghand.png')
	background-repeat no-repeat 
	background-size cover
	height 979px
	width 100%
	position relative


.quiniela-header section figure
	margin: 1em

.quiniela-header section .menu-quiniela
	position relative	

.quiniela-header section .menu-quiniela ul
	list-style none
	margin 0

.quiniela-header section .menu-quiniela ul li
	display inline-block
	color white


.quiniela-header section .menu-quiniela ul li:hover > ul.submenu
	opacity 1


#mundial
	left 10em
	

.quiniela-header section .menu-quiniela ul li ul.submenu
	background verde_claro
	position absolute
	top 3.5em
	left 0em
	-webkit-transform skewX(-30deg)
	-webkit-transition 0.1s all ease
	opacity 0

.quiniela-header section .menu-quiniela ul li ul.submenu li a
	padding 0.2em

.quiniela-header section .menu-quiniela ul li ul li
	display inline-block
	padding 0 1em 0 1em


.quiniela-header section .menu-quiniela ul li ul li a
	color gris_claro
	-webkit-transform skewX(30deg)


/*.quiniela-header section .menu-quiniela ul li a:hover
	color gris_claro
	background verde_claro
	-webkit-transform skewX(-30deg)
	width 100%
	height 100%*/

/*style="background : yellow; position: absolute;  top: 30px; left: 0; width: 100px; "*/

/*.quiniela-header section .menu-quiniela ul li a
	color white
	padding 0.5em	
	display block
	margin-top 0
	padding 0 0 0 1em*/

.quiniela-header section .menu-quiniela ul li a
	color gris_claro
	background verde_claro
	-webkit-transform skewX(-30deg)
	padding 1em	
	display block
	margin-top 0

.social-list
	list-style none
	margin: 0.4em 0 0 17em

.social-list li
	display inline-block
	padding 0.2em 0.5em 0 0.5em

.header-content
	position relative

.user-content
	position absolute
	top 0
	right 0
	overflow hidden

.user-content a
	display block
	position relative
	color white
	top 1em

.left
	float left

.username
	color white
	margin 1em 0 0 0
	font-size 1.5em
	font-weight bold
	position relative
	top 0.5em

.separator
	display inline-block
	width 0
	height 1em
	border-left 1px solid #fff
	border-right 1px solid #fff

.full-section
	background #123aaa
	width 100%
	height 100%










