@import 'normalize.styl'
@import 'webfonts.styl'

azul_claro = #00a7ff
gris_claro = #878787
verde_claro = #cfff09
verde_medio = #89f545

body
	font-size 16px

header
	background azul_claro
h1
	margin 0
	padding 0
figure
	margin 0
	padding 0

#clock
	color white
	margin 0 1em 0 2em

#landing-header
	overflow hidden
	position fixed
	width 100%
	z-index 9999999


#team-container
	margin-top 2em

#team-container h3.titulo-team
	color white
	margin-bottom 0

#team-container h4.subtitulo-team
	color white
	margin-top -0.5em
	text-align right
	margin-right 0.8em

#container-group ul
	list-style none
	margin -0.2em 0 0 0 

#container-group ul li
	display inline-block
	padding 0 0 0 1em
	font-size 3em
	color gris_claro
	cursor pointer
	-webkit-transition 0.5s all ease

#container-group ul li:hover
	color verde_claro

#trapezoide1
	border-bottom 200px solid azul_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	right -5.8em
	top 0em
	-webkit-transform rotate(180deg)


#trapezoide2
	border-bottom 200px solid azul_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute

#information-team
	margin-top 30em

#copas-fondo
	border-bottom 100px solid verde_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 350px
	position absolute
	right -9.8em
	top 11em
	-webkit-transform rotate(180deg)

#copas-fondo-back
	border-bottom 100px solid verde_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 350px
	position absolute
	right -8.8em
	top 11em

#copas-content
	border-bottom 100px solid verde_medio
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 350px
	position absolute
	right -9.2em
	top 11.5em
	-webkit-transform rotate(180deg)

#copas-content-back
	border-bottom 100px solid verde_medio
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 350px
	position absolute
	right -8.2em
	top 11.5em

#copas-content-back ul.copas_ganadas
	list-style none

#copas-content-back ul.copas_ganadas li
	display inline-block
	padding-left 1em

#copas-content-back ul.copas_ganadas li:first-child
	padding-left 0 

#mundiales-back
	border-bottom 100px solid verde_claro
	border-left 30px solid transparent
	border-right 30px solid transparent
	height 0
	width 120px
	position absolute
	right -11.2em
	top 7.5em
	-webkit-transform rotate(180deg)
	z-index 999999

#mundiales-content
	border-bottom 100px solid verde_claro
	border-left 30px solid transparent
	border-right 30px solid transparent
	height 0
	width 120px
	position absolute
	right -10.2em
	top 7.5em
	z-index 999999

#team-list-container #team-list
	list-style none

#team-list-container #team-list li
	display inline-block
	font-size 1.8em
	cursor pointer
	-webkit-transition 0.5s all ease

#team-list-container #team-list li:hover
	color verde_claro

#copa1
	position absolute 
	left 0 

#copa2
	position absolute 
	left 0 
	margin-left 2.8em

#copa3
	position absolute 
	left 0 
	margin-left 5.5em

#copa4
	position absolute 
	left 0 
	margin-left 8.2em

#copa5
	position absolute 
	left 0 
	margin-left 10.8em

#stadium-container h3.titulo-stadium
	color white
	margin-bottom 0
	font-size 5em
	margin-top 0.5em


#container-sedes ul
	list-style none
	margin 3.8em 0 0 0 

#container-sedes ul li
	display inline-block
	padding 0 0 0 0.8em
	font-weight bold
	font-size 1.3em
	color white
	cursor pointer
	-webkit-transition 0.5s all ease

#container-sedes ul li:hover
	color verde_claro

#description-stadium
	height 200px
	margin-top 8em
	position relative

#description-stadium p
	position absolute
	top 0
	z-index 999999

#posiciones-wrapp
	margin-top 2em

.header-oficial
	margin 1em

.header-oficial h3
	display inline
	color azul_claro
	font-weight bold
	margin-right 2em

.header-oficial h5
	color azul_claro
	

.posiciones-wrapp-content
	background verde_claro
	height 400px

.content-description
	position absolute
	z-index 9999
	width 90%
	height 325px
	margin-top -3.5em
	overflow-y scroll
    overflow-x hidden

.content-posiciones .header-posiciones
	position absolute
	z-index 9999
	width 80%
	height auto
	margin-top 20.5em
	margin-left -1.2em

.content-posiciones .body-posiciones
	position absolute
	z-index 9999
	width 80%
	height auto
	margin-top 24em
	margin-left -2em

.content-posiciones .body-posiciones table
	width 20em

.content-posiciones .body-posiciones table thead tr th
	&:first-child
		border-top  1px solid transparent
		border-left 1px solid transparent


.content-posiciones .body-posiciones table thead tr th
	border-top 1px solid transparent
	border-right 1px solid azul_claro
	border-left 1px solid azul_claro
	border-bottom 1px solid azul_claro
	padding 0 0.5em
	color azul_claro

.content-posiciones .body-posiciones table tbody tr td
	border-top 1px solid azul_claro
	border-right 1px solid azul_claro
	border-left 1px solid transparent
	border-bottom 1px solid azul_claro
	text-align center
	color azul_claro

.content-posiciones .header-posiciones h3, h5
	display inline-block

.content-posiciones .header-posiciones h3
	margin-right 1em

#image-stadium
	margin-top 2em
	margin-left -1em

#image-stadium img
	height 450px

	

#partidos-stadium
	margin-top 4.5em
	position relative

#partidos-stadium h2
	position absolute
	color white
	font-size 2.2em
	-webkit-transform rotate(15deg)
	transform rotate(15deg)
	text-transform uppercase


#trapeciobg1back-stadium
	border-bottom 200px solid verde_medio
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 300px
	position absolute
	left -2em
	top 4em
	-webkit-transform rotate(90deg)

#trapeciobg1-stadium
	border-bottom 200px solid verde_medio
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	left -6em
	top 0
	-webkit-transform rotate(90deg)

#trapeciobg2-stadium
	border-bottom 200px solid verde_medio
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	left -4em
	top 1em
	-webkit-transform rotate(-90deg)

#trapeciobg3-stadium
	border-bottom 150px solid verde_medio
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 450px
	position absolute
	left 4.5em
	top 1.5em
	-webkit-transform rotate(90deg)

#trapeciobg4-stadium
	border-bottom 200px solid verde_medio
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	left 9.5em
	top 0
	-webkit-transform rotate(-90deg)



#trapeciopartit1-stadium
	border-bottom 200px solid verde_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	left -6em
	top 8em
	-webkit-transform rotate(90deg)

#trapeciopartit2-stadium
	border-bottom 200px solid verde_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	left -4em
	top 10em
	-webkit-transform rotate(-90deg)

#line1-stadium
	width 1px
	height 373px
	background azul_claro
	position absolute
	top 0
	margin-top 2.5em

#line2-stadium
	width 1px
	height 373px
	background azul_claro
	position absolute
	top 0
	right 0
	margin-right 0.5em
	margin-top 4.5em

#line3-stadium
	width 1px
	height 175px
	background azul_claro
	position absolute
	top 0
	margin-left 5.3em
	margin-top -1.5em
	-webkit-transform rotate(-75deg)

#line4-stadium
	width 1px
	height 175px
	background azul_claro
	position absolute
	top 0
	margin-left 7.9em
	margin-top 20.8em
	-webkit-transform rotate(-75deg)

#line5-stadium
	width 1px
	height 45px
	background azul_claro
	position absolute
	top 0
	margin-left 11.9em
	margin-top 3.5em
	-webkit-transform rotate(71deg)

#line6-stadium
	width 1px
	height 45px
	background azul_claro
	position absolute
	top 0
	margin-left 1.4em
	margin-top 23.9em
	-webkit-transform rotate(71deg)


#quiniela-body
	display none
	margin-top 5em

#quiniela-body h2
	color white



#trapezoide1-posiciones
	border-bottom 200px solid verde_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	position absolute
	right 2.3em
	top 19em
	-webkit-transform rotate(180deg)


#trapezoide2-posiciones
	border-bottom 200px solid verde_claro
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	right 4em
	top 19em
	position absolute

#trapezoide2-posicionesbg
	border-bottom 200px solid verde_medio
	border-left 50px solid transparent
	border-right 50px solid transparent
	height 0
	width 400px
	right 2em
	top 20em
	position absolute


#lineqn1
	width 1px
	height 373px
	background azul_claro
	position absolute
	top 0
	margin-top 8.1em
	margin-left 9.5em
	-webkit-transform rotate(90deg)

#lineqn2
	width 1px
	height 380px
	background azul_claro
	position absolute
	top 0
	margin-top 19.1em
	margin-left 8em
	-webkit-transform rotate(90deg)

#lineqn3
	width 1px
	height 145px
	background azul_claro
	position absolute
	top 0
	margin-left -2.8em
	margin-top 22em
	-webkit-transform rotate(14deg)

#lineqn4
	width 1px
	height 145px
	background azul_claro
	position absolute
	top 0
	margin-left 20.1em
	margin-top 19.6em
	-webkit-transform rotate(13deg)

#lineqn5
	width 1px
	height 40px
	background azul_claro
	position absolute
	top 0
	margin-left 19.5em
	margin-top 28.5em
	-webkit-transform rotate(-16deg)

#lineqn6
	width 1px
	height 40px
	background azul_claro
	position absolute
	top 0
	margin-left -2em
	margin-top 19.7em
	-webkit-transform rotate(-16deg)


.content-posiciones .body-oficial
	position absolute
	z-index 9999
	width 80%
	height auto
	margin-top 24em
	margin-left -2em

.posiciones-wrapp-content .body-oficial table
	width 50em
	height 15em
	margin 0 5em

.posiciones-wrapp-content .body-oficial table thead tr th
	&:first-child
		border-top  1px solid transparent
		border-left 1px solid transparent


.posiciones-wrapp-content .body-oficial table thead tr th
	border-top 1px solid transparent
	border-right 1px solid azul_claro
	border-left 1px solid azul_claro
	border-bottom 1px solid azul_claro
	padding 0 0.5em
	color azul_claro

.posiciones-wrapp-content .body-oficial table tbody tr td
	border-top 1px solid azul_claro
	border-right 1px solid azul_claro
	border-left 1px solid transparent
	border-bottom 1px solid azul_claro
	text-align center
	color azul_claro


.list-matches
	list-style none
	margin 0 0 1em 0 

.list-matches li div
	display inline-block
	margin 1em 0 0 0.5em 

.list-matches li div.qnl_date
	width 10%
	

.list-matches li div.qnl_stadium
	width 30%

.list-matches li img
	vertical-align initial
	margin-left 0.5em

.list-matches li input.team_input
	color azul_claro
	width 5%
	vertical-align super
	position relative
	top -0.5em

.list-matches li div .name-estadio,.fecha
	display block

.list-matches li div span.title-estadio
	color azul_claro
	font-weight bold

.list-matches li div span.name-estadio
	color azul_claro

.list-matches li div span.title-fecha
	color azul_claro
	font-weight bold

.list-matches li div span.fecha
	color azul_claro

.list-matches li .team-a
	margin-left 0.2em
	margin-right 0.2em
	vertical-align super
	font-size 1.5em
	color azul_claro
	position relative
	top -0.2em

.list-matches li .team-b
	margin-left 0.2em
	margin-right 0.2em
	vertical-align super
	font-size 1.5em
	color azul_claro
	position relative
	top -0.2em

.list-matches li .versus
	margin-left 1em
	border 1px solid red


.new-quiniela
	display none
	margin-top 5em
	background white
	box-shadow 5px 5px 5px rgba(0,0,0,0.5)

.new-quiniela h2
	text-align center

.btnquiniela
	text-align center
	position relative
	left 41%
	right 40%

	
.edit-quiniela
	display none
	margin-top 5em
	background white
	box-shadow 5px 5px 5px rgba(0,0,0,0.5)

.edit-quiniela h2
	text-align center

.btneditquiniela
	text-align center
	position relative
	left 41%
	right 40%

.loader
	display none
	margin-left 26em

.loader-quiniela
	display none
	margin-left 2em

.partidos-quiniela
	background white
	height auto
	box-shadow 5px 5px 5px rgba(0,0,0,0.5)


.list-partidos
	list-style none
	margin-left 0.1em

.list-partidos li
	padding-top 1em

.list-partidos .title-fecha
	font-weight bold
	color azul_claro
	text-transform uppercase

.list-partidos .fecha
	color azul_claro

.list-partidos li .team-a
	margin-left 0.5em
	color azul_claro
	font-size 0.8em

.list-partidos li .versus
	margin-left 0.5em
	margin-right 0.5em
	color azul_claro
	font-size 1em
	font-weight bold

.list-partidos li .team-b
	margin-left 0.5em
	color azul_claro
	font-size 0.8em

.content-img
	position absolute
	z-index 9999
	width 90%
	height 325px
	margin-top -3.5em
	overflow hidden


.content-partidos
	position absolute
	z-index 9999
	width 85%
	height 325px
	margin-top 4.5em
	margin-left 0.5em


.wraper-trapecio
	position relative
	width 30%
	height 200px

.stadium-full-section
	background url('../img/bghand.png')
	background-size cover

.margen-superior
	position relative
	margin-top 10em

.login-content
	position relative

.logo
	margin-right 5em
	width 50%

.btn-twitter
	position absolute
	width 50%
	top 26em
	left 4.5em

.btn-facebook
	position absolute
	width 50%
	top 28em
	left 4.5em

.btn-menu
	display block
	position absolute
	background verde_claro
	color gris_claro
	padding 0.5em
	text-align center
	width 18%
	right 0
	margin-right 2em
	margin-top -1.2em
	-webkit-transform skewX(-30deg)

.copa-quiniela img
	width 100%
	position absolute
	bottom 5px

.numbers-quiniela
	position absolute
	top 14em
	left 10em
	width 96%

.hand-vacia
	bottom -978px
	position absolute

.hand-llena
	bottom -978px
	position absolute

.jugador-quiniela
	position absolute
	top 40%
	width 40%

.ball-jugador-quiniela
	position absolute
	left 0

.numero1-quiniela
	position absolute
	left 71em
	top 38em

.numero2-quiniela
	position absolute
	left 47em
	top 14em

.portero-quiniela
	position absolute
	top 30%
	width 40%
	z-index 9999

.ball-portero-quiniela
	position absolute
	top 20%
	left 67em

.numero1-portero-quiniela
	position absolute
	left 81em
	top 15em

.numero2-portero-quiniela
	position absolute
	left 75em
	top 24em

#menu-dash ul
	list-style none
	background rgba(0,167,255,0.7)
	position absolute
	//border 1px solid red 
	width 18%
	right 0
	margin-right 2.5em
	margin-top 0.8em

#menu-dash ul li
	padding 0.2em
	border-bottom 1px dotted white
	color white
	text-align center

#menu-dash ul li:last-child
	border-bottom none

#menu-dash ul li a
	color white
	

.grama-content
	position absolute
	bottom 0	

.page1-login
	background url('../img/bg_landing.png')
	background-repeat no-repeat 
	background-size cover
	height 979px
	width 100%

.page2-hand
	background url('../img/bghand.png')
	background-repeat no-repeat 
	background-size cover
	height 979px
	width 100%
	position relative

.page3-numbers
	background url('../img/resplandor.png')
	background-repeat no-repeat 
	background-size cover
	height 979px
	width 100%
	position relative

.page4-portero
	background url('../img/bg_portero.png')
	background-repeat no-repeat 
	background-size cover
	height 979px
	width 100%
	position relative

.page5-portero
	background url('../img/bghand.png')
	background-repeat no-repeat 
	background-size cover
	height 979px
	width 100%
	position relative


.quiniela-header section figure
	margin: 1em

/*.quiniela-header section .menu-quiniela
	position relative	

.quiniela-header section .menu-quiniela ul
	list-style none
	margin 0

.quiniela-header section .menu-quiniela ul li
	display inline-block
	color white


.quiniela-header section .menu-quiniela ul li:hover > ul.submenu
	opacity 1


.quiniela-header section .menu-quiniela ul li ul.submenu
	background verde_claro
	position absolute
	top 3.5em
	left 0em
	-webkit-transform skewX(-30deg)
	-webkit-transition 0.1s all ease
	opacity 0

.quiniela-header section .menu-quiniela ul li ul.submenu li a
	padding 0.2em

.quiniela-header section .menu-quiniela ul li ul li
	display inline-block
	padding 0 1em 0 1em


.quiniela-header section .menu-quiniela ul li ul li a
	color gris_claro
	-webkit-transform skewX(30deg)


.quiniela-header section .menu-quiniela ul li a
	color gris_claro
	background verde_claro
	-webkit-transform skewX(-30deg)
	padding 1em	
	display block
	margin-top 0*/

.quiniela-header section .menu-quiniela
	position relative

.quiniela-header section .menu-quiniela ul
	list-style none
	margin 0

.quiniela-header section .menu-quiniela li
	position relative
	float left
	background azul_claro
	border-right 1px solid white
	-webkit-transform skewx(-20deg)
	transform skewx(-20deg)
	-webkit-transition background .2s ease, color .2s ease
	transition background .2s ease, color .2s ease
	&:hover
		background verde_claro

.quiniela-header section .menu-quiniela ul li a
	display block
	padding 1em
	color white
	&:hover
		color azul_claro

.quiniela-header section .menu-quiniela ul li
	&:first-child
		border-left 1px solid white


.quiniela-header section .menu-quiniela ul li ul
	display none

.quiniela-header section .menu-quiniela span
	display block
	-webkit-transform skewx(20deg)
	transform skewx(20deg)

.quiniela-header section .menu-quiniela ul li.selected
	background verde_claro

.quiniela-header section .menu-quiniela ul li.selected a
	color azul_claro

.quiniela-header section .menu-quiniela li
	&:hover ul
		display block
		position absolute
			



#mundial
	left 10em

.social-list
	list-style none
	margin: 0.4em 0 0 17em

.social-list li
	display inline-block
	padding 0.2em 0.5em 0 0.5em

.header-content
	position relative

.user-content
	position absolute
	top 0
	right 0
	overflow hidden

.user-content a
	display block
	position relative
	color white
	top 1em

.left
	float left

.username
	color white
	margin 1em 0 0 0
	font-size 1.5em
	font-weight bold
	position relative
	top 0.5em

.separator
	display inline-block
	width 0
	height 1em
	border-left 1px solid #fff
	border-right 1px solid #fff

.full-section
	background #123aaa
	width 100%
	height 100%

.alert
	padding 15px
	margin-bottom 20px
	border 1px solid transparent
	border-radius 4px

.alert h4
	margin-top 0
	color inherit

.alert .alert-link 
	font-weight bold

.alert > p,
.alert > ul
	margin-bottom 0

.alert > p + p
	margin-top 5px

.alert-dismissable 
	padding-right 35px

.alert-dismissable .close
	position relative
	top -2px
	right -21px
	color inherit

.alert-success
	color #3c763d
	background-color #dff0d8
	border-color #d6e9c6

.alert-success hr
	border-top-color #c9e2b3

.alert-success .alert-link
	color #2b542c

.alert-info
	color #31708f
	background-color #d9edf7
	border-color #bce8f1

.alert-info hr
	border-top-color #a6e1ec

.alert-info .alert-link
	color #245269

.alert-warning
	color #8a6d3b
	background-color #fcf8e3
	border-color #faebcc

.alert-warning hr
	border-top-color #f7e1b5

.alert-warning .alert-link
	color #66512c

.alert-danger
	color #a94442
	background-color #f2dede
	border-color #ebccd1

.alert-danger hr
	border-top-color #e4b9c0

.alert-danger .alert-link
	color #843534

.success-middle
	display none
	width 58%

.warning-middle
	display none
	width 58%

.error-middle
	display none
	width 58%







